{% extends "index/index.html" %}

{% block content %}
        <form enctype="multipart/form-data" method="post"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Login">Login</button>
        </form>
{% endblock content %}