{% extends "index/index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form enctype="multipart/form-data" action="{% url "core:registration" %}" method="post" style="width: 25em;
         align-content: center
         ; margin: auto;
"> {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Submit</button>
    </form>
{% endblock content %}