{% extends "index/index.html" %}
{% load static %}
{% block content %}
    <form action="{% url "students:students" %}" method="get">
        <input class="search" type="text" name="q" placeholder="Search" style="margin-bottom: 3vh">
    </form>
    <a style="width: 100%" type="button" class="btn btn-success" href="{% url "students:create_student" %} ">Create new
        student</a>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Course</th>
            <th scope="col">Grade</th>
            <th scope="col">Campus</th>
            <th scope="col">Active</th>
            <th scope="col">CV</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td><img src="{{ student.photo.url }}" height="75vh"></td>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.campus }}</td>
                <td>{{ student.active }}</td>
                <td><a href="{% static student.cv %}">Download</a></td>
                <td><a type="button" class="btn btn-warning"
                       href="{% url "students:update_student" student.pk %}">Edit</a></td>
                <td><a type="button" class="btn btn-danger"
                       href="{% url "students:delete_student" student.pk %}">Delete</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}