{% extends "index/index.html" %}

{% block content %}
        <form method="post"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
{% endblock content %}