{% extends "index/index.html" %}

{% block content %}
        <form method="post"> {% csrf_token %}
            <h1>Are you sure you want to delete this student?</h1>
            <div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
{% endblock content %}