{% extends "index/index.html" %}

{% block content %}
        <form enctype="multipart/form-data" action="{% url "teachers:create_teacher" %}" method="post"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
{% endblock content %}