{% extends "index/index.html" %}
{% load static %}
{% block content %}
    <form action="{% url "teachers:teachers" %}" method="get">
        <input class="search" type="text" name="q" placeholder="Search" style="margin-bottom: 3vh">
    </form>
    <a style="width: 100%" type="button" class="btn btn-success" href="{% url "teachers:create_teacher" %}">Create new
        teacher</a>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Course</th>
            <th scope="col">Salary</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td><img src="{{ teacher.photo.url }}" height="75vh"></td>
                <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
                <td>{{ teacher.age }}</td>
                <td>{{ teacher.email }}</td>
                <td>{% for group in teacher.group.all %}<a type="button" class="btn btn-secondary" href="{% url "groups:show_group" group %}">{{ group }}</a> {% endfor %}</td>
                <td>{{ teacher.salary }}</td>
                <td><a type="button" class="btn btn-warning"
                       href="{% url "teachers:update_teacher" teacher.pk %}">Edit</a></td>
                <td><a type="button" class="btn btn-danger"
                       href="{% url "teachers:delete_teacher" teacher.pk %}">Delete</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}