<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not found</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">The page you are looking for was not found.</div>
                    <a href="{% url "core:core" %}" type="button" class="btn btn-primary" style="margin-bottom: 4vh">Come back to the starting page</a>
                    <div>
                        <a href="{% url "students:students" %}" type="button" class="btn btn-secondary">Come directly to students</a>
                        <a href="{% url "teachers:teachers" %}" type="button" class="btn btn-secondary">Come directly to teachers</a>
                        <a href="{% url "groups:groups" %}" type="button" class="btn btn-secondary">Come directly to groups</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
