{% extends "index/index.html" %}

{% block content %}
        <form action="{% url "groups:create_group" %}" method="post"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
{% endblock content %}