{% extends "index/index.html" %}

{% block content %}
        <form action="{% url "groups:groups" %}" method="get">
            <input class="search" type="text" name="q" placeholder="Search" style="margin-bottom: 3vh">
        </form>
        <a style="width: 100%" type="button" class="btn btn-success" href="{% url "groups:create_group" %}">Create new group</a>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Length</th>
              <th scope="col">Price</th>
              <th scope="col">Number of students</th>
              <th scope="col">Lesson duration</th>
              <th scope="col">Website</th>
              <th scope="col">Students</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
          {% for group in groups %}
            <tr>
              <td>{{ group.course }}</td>
              <td>{{ group.length_in_months }} months</td>
              <td>{{ group.price }} hryvnias</td>
              <td>{{ group.number_of_students }}</td>
              <td>{{ group.lesson_duration }} hours</td>
              <td><a href="{{ group.website }}">{{ group.website }}</a></td>
              <td><a type="button" class="btn btn-secondary" href="{% url "students:show_students" group.uuid %}">Students</a></td>
              <td><a type="button" class="btn btn-warning" href="{% url "groups:update_group" group.pk %}">Edit</a></td>
              <td><a type="button" class="btn btn-danger" href="{% url "groups:delete_group" group.pk %}">Delete</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock content %}